<ion-view title="Hasilkan Akaun Baru" id="page5">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Total-logo-earth-880x660.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <form id="hasilkanAkaunBaru-form4" class="list">
            <ion-list id="hasilkanAkaunBaru-list3">
                <label class="item item-input" id="hasilkanAkaunBaru-input5">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="hasilkanAkaunBaru-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="hasilkanAkaunBaru-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="hasilkanAkaunBaru-button9" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>