<ion-view title="Jingming" id="page10">
    <ion-content padding="true" class="has-header">
        <button id="jingming-button18" class="button button-positive  button-block" ng-click="Rawat()">Rawat</button>
        <div>
            <img src="img/k2b01qEkTJmD7baE8ard_BL1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="jingming-list-item-container4">
            <div id="jingming-markdown6" style="margin-top:0px;color:#000000;">
                <p>titik utama untuk penyakit mata, seperti atrofi saraf optik, strabismus, buta warna, konjunktivitis, dan lain-lain</p>
            </div>
        </div>
    </ion-content>
</ion-view>