<ion-view title="Kemaskinipesakit" id="page15" cache-view="false">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="kemaskinipesakit-form9" class="list">
            <label class="item item-input" id="kemaskinipesakit-input19">
                <span class="input-label">Nama </span>
                <input type="text" placeholder="" ng-model="update1.nama" value="{{update1.nama}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input20">
                <span class="input-label">Jantina</span>
                <input type="text" placeholder="" ng-model="update1.jantina1" value="{{update1.jantina1}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input21">
                <span class="input-label">Kad Pengenalan</span>
                <input type="text" placeholder="" ng-model="update1.kp" value="{{update1.kp}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input22">
                <span class="input-label">Tarikh Lahir</span>
                <input type="text" placeholder="" ng-model="update1.tl" value="{{update1.tl}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input23">
                <span class="input-label">Taraf Perkahwinan</span>
                <input type="text" placeholder="" ng-model="update1.tp" value="{{update1.tp}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input24">
                <span class="input-label">No Telefon</span>
                <input type="tel" placeholder="" ng-model="update1.notelefon" value="{{update1.notelefon}}">
            </label>
            <label class="item item-input" id="kemaskinipesakit-input25">
                <span class="input-label">Pekerjaan</span>
                <input type="text" placeholder="" ng-model="update1.pekerjaan" value="{{update1.pekerjaan}}">
            </label>
            <label class="item item-input item-stacked-label" id="kemaskinipesakit-input26">
                <span class="input-label">Alamat</span>
                <input type="text" placeholder="" ng-model="update1.alamat" value="{{update1.alamat}}">
            </label>
        </form>
        <button id="kemaskinipesakit-button20" class="button button-balanced  button-block" ng-click="update()">Kemaskini</button>
    </ion-content>
</ion-view>