<ion-view title="Rawatan Akupunktur" id="page9">
    <ion-nav-bar>
        <ion-nav-buttons side="right">
            <!-- Toggle right side menu -->
            <button menu-toggle="right" class="button button-icon icon ion-navicon" ui-sref="rawatanBekam"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content padding="true" class="has-header">
        <form id="rawatanAkupunktur-form6" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>







        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <ion-list id="rawatanAkupunktur-list6">
            <ion-item class="item-thumbnail-left balanced" id="rawatanAkupunktur-list-item9" ui-sref="jingming" ng->
                <img src="img/wDTo7gKMSNm9QHRyKWdB_BL1.jpg">
                <h2balanced>Jingming
                    <p>Mencerahkan Mata</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left balanced" id="rawatanAkupunktur-list-item8">
                <img ng-model="hoi" src="img/PxsdjEQOQNOJhJi0yKzw_BL2.jpg">
                <h2balanced>Cuanzhu
                    <p>Sakit Kepala</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left balanced" id="rawatanAkupunktur-list-item10">
                <img src="img/1hgNvFzkRuar2qSCiIFT_BL3.jpg">
                <h2balanced>Meichong
                    <p>Sakit Kepala,Pening Kepala</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-thumbnail-left balanced" id="rawatanAkupunktur-list-item17">
                <img src="img/5vvuxUcTqSLiC74MD2L1_BL4.jpg">
                <h2balanced>Qucha
                    <p>Sakit Kepala, Pening Kepala</p>
                </h2balanced>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>