<ion-view cache-view="false"  title="Sejarah" id="page12">
    <ion-content padding="true" class="has-header">
        <ion-list id="sejarah-list7">
            <p ng-repeat="x in result">
                {{x.rawatan}}
            </p>
            <!--<ion-item class="item-thumbnail-left" id="sejarah-list-item20" ui-sref="sejarahBesar">
                <img src="img/qT1knGTGRqOfOIYiGWkE_BL1.jpg">
                <h2>Jingming</h2>
                <p>Merupakan rawatan yang pertama</p>
            </ion-item> -->
        </ion-list>
    </ion-content>
</ion-view>