<ion-view title="Tambah Pesakit" id="page14">
    <ion-content padding="true" class="has-header">
        <form id="tambahPesakit-form8" class="list">
            <label class="item item-input" id="tambahPesakit-input11">
                <span class="input-label">Nama</span>
                <input type="text" placeholder="#" ng-model="data.Nama">
            </label>
            <label class="item item-input" id="tambahPesakit-input13">
                <span class="input-label">Jantina</span>
                <input type="text" placeholder="#" ng-model="data.jantina">
            </label>
            <label class="item item-input" id="tambahPesakit-input12">
                <span class="input-label">Kad Pengenalan</span>
                <input type="text" placeholder="#" ng-model="data.kp">
            </label>
            <label class="item item-input" id="tambahPesakit-input14">
                <span class="input-label">Tarikh Lahir</span>
                <input type="text" placeholder="#" ng-model="data.tl">
            </label>
            <label class="item item-input" id="tambahPesakit-input15">
                <span class="input-label">Taraf Perkahwinan</span>
                <input type="text" placeholder="#" ng-model="data.tp">
            </label>
            <label class="item item-input" id="tambahPesakit-input16">
                <span class="input-label">No Telefon</span>
                <input type="tel" placeholder="#" ng-model="data.telefon">
            </label>
            <label class="item item-input" id="tambahPesakit-input17">
                <span class="input-label">Pekerjaan</span>
                <input type="text" placeholder="#" ng-model="data.pekerjaan">
            </label>
            <label class="item item-input item-stacked-label" id="tambahPesakit-input18">
                <span class="input-label">Alamat</span>
                <input type="text" placeholder="#" ng-model="data.alamat">
            </label>
        </form>
        <button id="tambahPesakit-button15" class="button button-balanced  button-block" ng-click="addUser()">Tambah</button>
    </ion-content>
</ion-view>